/* Styles for desktop/laptop */
.question-fullscreen {
  width: 100%;
  height: 100%;
}

.question-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.question-back-button {
  color: lightgray;
  font-size: 24px;
}

.question-share-button {
  color: #121931;
  background-color: lightgray;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  border: 0;
}

.question-share-button-icon {
  color: #121931;
  font-size: 16px;
  margin-right: 10px;
  background-color: lightgray;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-title {
  font-size: 31px;
  margin-top: 80px;
  text-align: center;
  color: #F6F7FB;
}

.question-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.question-image {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin: 20px;
  border-radius: 5px;
}

.choices-list {
  margin: 20px;
}

.choice-item {
  margin: 10px;
}

.choice-button {
  display: inline-block;
  font-size: 16px;
  width: 250px;
  padding: 10px;
  border: solid;
  border-width: 2;
  border-color: lightgray;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #121931;
  transition: all 0.3s ease;
  text-align: left;
}

.choice-button:hover {
  color: #121931 !important;
  border-color: #121931 !important;
  background-color: lightgray;
}

.choice-button.selected {
  color: #13C79A;
  border-color: #13C79A;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
}

.question-vote-button {
  background-color: #13C79A;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin: 24px;
  border: 0;
}

/* Styles for mobile */
@media only screen and (max-width: 600px) {
  .question-title {
    font-size: 20px;
    margin: 1rem 2rem 0 2rem;
    font-size: 21px !important;
  }

  .question-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .question-image {
    width: 250px;
  }

  .choices-list {
    flex-direction: column;
    margin: 0;
  }

  .choice-item {
    margin: 5px 0;
  }

  .choice-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .loader-container {
    height: 100px;
  }
}