.main-title {
  margin-top: 5rem;
}

.subtitle {
  margin: 16px;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: center;
  height: 2rem;
}

input[type="text"] {
  padding-left: 2rem;
  height: 1.5rem;
  border-radius: 3px;
  border: 1px solid #ddd;
  background-color: #999;
  color: #F6F7FB;
  font-weight: bold;
  width: 15rem;
}

.icon-container-search {
  position: absolute;
  top: 42%;
  left: 0.5rem;
  transform: translateY(-50%);
  color: #F6F7FB;
}

.icon-container-dismiss{
  position: absolute;
  top: 42%;
  right: 0.5rem;
  transform: translateY(-50%);
}

.dismiss-icon {
 margin: 1px;
 cursor: pointer;
 color: #F6F7FB;
}

.question-card div {
  display: flex;
  align-items: center;
}

.question-card img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

.question-card h4 {
  margin: 0;
  color: #F6F7FB;
  flex: 1;
  margin-left: 1rem;
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
}

.question-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
  z-index: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}

.question-card {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 23rem;
}

.question-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
  .main-title {
    font-size: 29px !important;
  }

  input[type="text"] {
    padding-left: 2rem;
    height: 1.5rem;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #999;
    width: 16rem;
    color: #F6F7FB;
    font-weight: bold;
  }


  .icon-container-search {
    position: absolute;
    top: 42%;
    left: 0.5rem;
    transform: translateY(-50%);
  }

  .icon-container-dismiss{
    position: absolute;
    top: 42%;
    right: 0.5rem;
    transform: translateY(-50%);
  }

  .dismiss-icon {
    margin: 1px;
    cursor: pointer;
    color: #F6F7FB;
   }

  .question-card {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    width: 16rem;
  }

  .question-card h4 {
    font-size: 16px !important;
  }
}