.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal.open {
  display: flex;
}

.modal-title {
  color: #121931;
  margin-bottom: 20px;
  margin-top: 0;
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 30px 20px;
  width: 400px;
  border-radius: 5px;
}

.modal-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.share-modal-input[type="email"] {
  font-size: 16px;
  padding: 4px 10px;
  display: flex;
  height: 1.5rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  width: 16rem;
  border-width: 1;
  border-color: #121931;
}

.share-modal-input[type="text"] {
  font-size: 16px;
  padding: 5px 10px;
  display: flex;
  height: 1.5rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  width: 16rem;
  background-color: #121931;
  border-width: 1;
  border-color: #121931;
}

.modal-button {
  background-color: #13C79A;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  height: 36px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}

.modal-button:hover {
  background-color: #13C79A;
}

@media only screen and (max-width: 600px) {
  .modal-title {
    margin-top: 20px;
  }

  .modal-content {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    height: 250px;
    width: 100%;
    border-radius: 5px ;
    padding: 30px 20px;
    border-radius: 5px;
  }

  .share-modal-input[type="email"] {
    font-size: 12px;
    padding: 4px 10px;
    display: flex;
    height: 1.5rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    width: 12rem;
    border-width: 1;
    border-color: #121931;
  }

  .share-modal-input[type="text"] {
    font-size: 12px;
    padding: 5px 10px;
    display: flex;
    height: 1.5rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    width: 12rem;
    background-color: #121931;
    border-width: 1;
    border-color: #121931;
  }
}