.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  backdrop-filter: blur(10px);
}

.modal.open {
  display: flex;
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  max-width: 400px;
  border-radius: 5px;
  position: relative;
}

.modal-title {
  color: #121931;
  margin: 20px 0;
}

.modal-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal-p {
  color: #121931;
  font-family: 'Inter', sans-serif;
}

.share-modal-input {
  font-size: 16px;
  padding: 4px 10px;
  display: flex;
  height: 1.5rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  width: 16rem;
  border-width: 1;
  border-color: #121931;
}

.share-modal-input.selected {
  border-color: #13C79A !important;
}

.modal-button-share {
  background-color: #13C79A;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  height: 36px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.modal-button-copy-link {
  color: #121931;
  border: 1;
  border-radius: 5px;
  border-color: #121931;
  padding: 10px;
  cursor: pointer;
  height: 36px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-button-link-icon {
  margin-right: 5px;
}

.modal-button:hover {
  background-color: #13C79A;
}

@media only screen and (max-width: 600px) {
  .modal-content {
    height: 150px;
    border-radius: 20px 20px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 40px;
  }

  .share-modal-input {
    font-size: 12px;
    padding: 4px 10px;
    display: flex;
    height: 1.5rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    width: 12rem;
    border-width: 1;
    border-color: #121931;
  }
}





