.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
}

.question-card div {
  display: flex;
  align-items: center;
}

.question-card img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  border-radius: 5%;
}

.question-card h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.search-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #008CBA;
  color: white;
  cursor: pointer;
  margin-right: 0.5rem;
}

.dismiss-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #ff0606;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background-color: #006E8A;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
}

li {
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

li:hover {
  background-color: #f2f2f2;
}

.buttons {
  margin-top: 1rem;
}

.question-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
  z-index: 1;
}

.question-card {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.question-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}